/Bluespire.Emerge.Common/obj
/Bluespire.Emerge.CommonService/obj
/Bluespire.Emerge.Components.Careers/obj
/Bluespire.Emerge.Components.CheerCard/obj
/Bluespire.Emerge.Components.Donation/obj
bin
/Bluespire.Emerge.Components.Careers/bin
/Bluespire.Emerge.Components.CheerCard/bin
/Bluespire.Emerge.Components.CheerCard/.vs
/Bluespire.Emerge.Components.Donation/bin
/Bluespire.Emerge.Components.EventsCalendar/obj
/Bluespire.Emerge.Components.EventsCalendar/bin
/Bluespire.Emerge.Components.GenericParsing/obj
/Bluespire.Emerge.Components.GenericParsing/bin
/Bluespire.Emerge.Components.GiftShop/obj
/Bluespire.Emerge.Components.GiftShop/bin
/Bluespire.Emerge.Components.GiftShop/.vs
/Bluespire.Emerge.Components.Location/obj
/Bluespire.Emerge.Components.Location/bin
/Bluespire.Emerge.Components.Physician/obj
/Bluespire.Emerge.Components.Physician/bin
/Bluespire.Emerge.Components.PreRegistration/obj
/Bluespire.Emerge.Components.PreRegistration/bin
/Bluespire.Emerge.Components.Rates/obj
/Bluespire.Emerge.Components.Rates/bin
