<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="ConnectionString" value="Persist Security Info=False;database=EmergeLicenseDb ;server=win2008sql2012;user id=bluespire;password=bluespire;Current Language=English;Connection Timeout=240;"/>
  </appSettings>

</configuration>