<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <containers>
      <container name="EventsContainer" >
        <types>
          <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IEventOccurenceService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.EventOccurenceService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
         <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IBlackoutDateService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.BlackoutDateService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
        <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.ISessionService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.SessionService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
          <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IEventRegistrationService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.EventRegistrationService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
         <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IDiscountService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.DiscountService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
          <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IEventScheduleService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.EventScheduleService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
          <type type="Bluespire.Emerge.Components.EventsCalendar.Services.Interfaces.IEventService, Bluespire.Emerge.Components.EventsCalendar"
              mapTo="Bluespire.Emerge.Components.EventsCalendar.Services.EventService, Bluespire.Emerge.Components.EventsCalendar">
          </type>
        </types>
      </container>
    </containers>
  </unity>
</configuration>
